<plugin name='eminux-dwr' version='0.1' grailsVersion='2.2 &gt; *'>
  <author>Emiliano Frascaro</author>
  <authorEmail>ing.eminux@gmail.com</authorEmail>
  <title>Eminux Dwr Plugin</title>
  <description>Integration between Grails 2.x and DWR
</description>
  <documentation>http://grails.org/plugin/eminux-dwr</documentation>
  <type>EminuxDwrGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>